*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #333;
}

body,
html {
    height: 100%;
    background-color: rgb(250, 244, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3 {
    color: #3498db;
}
button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #3498db;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 4fr 80px;
    text-align: center;
    position: relative;
}

header {
    position: relative;
    background-color: #3498db;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
}

header .title h1 {
    color: white;
}

header .round {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .round p {
    background-color: orange;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

main {
    text-align: start;
    /* padding: 20px; */
    position: relative;
}

main .todo-container {
    display: grid;
    margin-top: .7em;
    gap: 20px;
}

#main-cont {
    padding: 1em 2em;
}

.add-todo button {
    margin-top: 10px;
    padding: 5px 15px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.section:hover {
    cursor: pointer;
}

.section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.section section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #e1dede;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.sidebar {
    background-color: #bdc3c7;
    display: grid;
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 10px;
    align-content: flex-start;
    gap: 30px;
    grid-template-rows: 100px, repeat(2, 50%);
}

.sidebar>div {
    background-color: #ffffff; /* White background for sidebar items */
    text-align: start;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar .projects,
.sidebar .todos {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.sidebar .projects:hover,
.sidebar .todos:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
}

.complete {
    color: #bdc3c7;
    text-decoration: line-through green double;
}

.todos .sideBar-container,
.projects .sideBar-container,
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.sideBar-container:hover {
    background-color: white;
    cursor: pointer;
}

.top:hover {
    cursor: pointer;
}

#todo-dialog {
    margin: 10px auto;
    border: none;
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

input,
textarea {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    resize: none;
}

input[name="title"] {
    font-weight: 600;
}

input:hover,
input:focus {
    border-bottom: 1px solid #3498db;
}

select,
.date {
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

input:invalid:focus {
    border-bottom: 1px solid red;
}

select:invalid:focus {
    border: 1px solid red;
}

.lower-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.sideBar-container div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#submit,
#cancel {
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

#submit {
    background-color: #3498db;
    color: white;

}

#cancel {
    background-color: #e1dede;
}

section.drop {
    display: none;
}
button:hover {
    cursor: pointer;
    opacity: .7;
}

.add-project {
    display: none;
}

.sidebar .side-top {
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

.top-bar {
    background-color: #3498db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 8px 2em;
}

.nav:hover {
    cursor: pointer;
    scale: 1.1;
    padding: 3px .5em;
    color: #ffffff;
}

.sidebar .exit {
    text-align: right;
    font-size: 1.4rem;
    display: none;
}

.active {
    color: #ffffff;
    font-weight: 500;
    padding: 3px .5em;
    border-radius: 10px;
}

.menu {
    display: none;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h2, .head {
    color: #333;
}
.show {
    display: none;
}

.section, .sidebar {
    text-transform: capitalize;
}

@media (max-width: 664px) {
    * {
        font-size: .9rem;
    }

    header {
        grid-column: 1 / 3;
        font-size: initial;
    }

    header .title h1 {
        font-size: 1.5rem;
    }

    .show {
        display: block;
    }

    header>.first {
        display: none;
    }

    main {
        grid-column: 1 / 3;
    }

    .sidebar {
        display: none;
    }

    .menu {
        display: flex;
        background-color: #48b0f5;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
    }

    .menu:hover {
        cursor: pointer;
        opacity: .8;
    }

    .sidebar .side-top .logo h2 {
        font-size: 1.3rem;
    }

    .show-side {
        display: grid;
        position: absolute;
        height: 100%;
        width: 70%;
    }

    .sidebar .exit {
        display: flex;
        justify-content: flex-end;
    }

    .exit:hover {
        background-color: #3498db;
        padding: 3px 7px;
        cursor: pointer;
        opacity: .8;
        border-radius: 10px;
        color: #ffffff;
    }
}